html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}


.alert-position {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    z-index: 9999;
}

.navbar{
    background-color: #FF3E3E;
    box-shadow: 6px 6px 6px 6px #484545;
}

.navbar-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
}

.navbar-image{
    height: 200px;
    max-width: 300px;
    width: 100%;
}

.row{
    display: flex;
    justify-content: center;
}

.row-form{
    padding-bottom: 30px;
}

.main{
    min-height: calc(100vh - 200px);
    padding: 20px 0;
    background-color:#1E90FF ;
    
}
.main-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.form-control{
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
}

.form-button{
    border-top-left-radius:0px ;
    border-bottom-left-radius: 0px;
}

.card{
    max-width: 250px;
    width: 100%;
    border: none;
}

.card-gif{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.image-gif{
    border-radius: 30px;
}

.card-gif-text{
    font-size: 30px;
    margin-top: 20px;
}

.card-img-top{
    transition: transform 0.3s ease;   
}

.card-img-top:hover{
    transform: scale(1.3);
}

.card-title{
    display: flex
}

.card-title-key{
    max-width: 150px;
    width: 100%;
    font-weight: bold;
}

.card-title-value{
    max-width: 200px;
    width: 100%;
}

.card-image{
    display: flex;
    justify-content: center;
    height: 180px;
}

.card-body-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.card-body{
    cursor: pointer;
}

.btn{
    border: 1px solid snow;
}

.modal-body-subinfo{
    height: 180px;
}

.modal-body-close{
    display: flex;
    justify-content: flex-end;
}

.modal-body-info{
    display: flex;
    justify-content: space-between;
}

.modal-body-info a{
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
    display: flex;
    flex-direction: column;
    height: 330px;
    border-radius: 0;
}

.modal-card-header{
    display: flex;
    justify-content: space-between !important;
    max-width: 450px;
    width: 100%;
    align-items: center;
}

.modal-card-button{
    display: flex;
    flex-direction: column;  
    max-width: 75px;
    width: 100%;
}

.modal-card-main{
    display: flex;
    justify-content: space-between !important;
    max-width: 450px;
    width: 100%;
}

.modal-image{
    max-width: 150px;
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.progress{
    height: 20px;
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
}

.icon{
    font-size: 30px;
}

.footer{
    height: 100px;
    background-color: #FF3E3E;
}

.footer-container{
    max-width: 1440px;
    width: 100%;
}

.footer-image{
    max-width: 200px;
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding-top: 20px
}

.loading-div{
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    color: white;
}

.loading-spinner{
    display: none !important;
}

.loading-spinner_active{
    display: flex !important;
}

.spinner-border{
    opacity: 0.8;
}

.visual {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.4s forwards;
}

.up-icon{
    font-size: 40px;
    color: rgb(245, 241, 5);
    padding: 40px;
}

#loadbutton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-close{
    color: black !important;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:1200px){
    .up-icon{
        padding: 20px;
    }
}


@media screen and (max-width:578px) {
    .card-mobil{
        display: flex;
        justify-content: center;
    }
    .card-title-key{
        flex-shrink: 0;
        width: 100px;
        font-size: 14px;
    }
    .card-title-value{
        flex:1;
         font-size: 14px;
    }
    .progress{
        width: 100px;
    }
    .modal-body-subinfo{
        height: 190px;
    }
    .modal-footer{
        padding: 0px;
    }
}

@media screen and (max-width:420px){
    .up-icon{
        padding: 10px;
        font-size: 30px;
    }
}

@media screen and (max-width:370px) {
  .toast {
    max-width: 300px !important;
    width: 100%;
  }
}