.card-body-header{
    display: flex;
    justify-content: space-between;

}
.card-body{
    cursor: pointer;

}
.btn{
    border: 1px solid snow;
}

.modal-body-subinfo{
    height: 180px;
}

.modal-body-close{
    display: flex;
    justify-content: flex-end;

}
.modal-body-info{
    display: flex;
    justify-content: space-between;

}
.modal-body-info a{
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
  display: flex;
  flex-direction: column;
  height: 330px;
  border-radius: 0;
}
.modal-card-header{
    display: flex;
    justify-content: space-between !important;
        max-width: 450px;
    width: 100%;
    align-items: center;
}
.modal-card-button{
    display: flex;
    flex-direction: column;  
    max-width: 75px;
    width: 100%;
    
}

.modal-card-main{
        display: flex;
    justify-content: space-between !important;
        max-width: 450px;
    width: 100%;
}
.modal-image{
    max-width: 150px;
    width: 100%;
}

.card-title{
    display: flex
}
.card-title-key{
    max-width: 150px;
    width: 100%;
    font-weight: bold;
}
.card-title-value{
    max-width: 200px;
    width: 100%;
}