html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.navbar{
    background-color: #FF3E3E;
}

.navbar-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar-image{
    height: 200px;
    max-width: 300px;
    width: 100%;
}
.row-form{
    padding-bottom: 30px;
}

.main{
    min-height: calc(100vh - 200px);
    padding: 20px 0;
    background-color:#1E90FF ;
}
.card-body-header{
    display: flex;
    justify-content: space-between;

}
.card-body{
    cursor: pointer;

}
.btn{
    border: 1px solid snow;
}

.modal-body-subinfo{
    height: 180px;
}

.modal-body-close{
    display: flex;
    justify-content: flex-end;

}
.modal-body-info{
    display: flex;
    justify-content: space-between;

}
.modal-body-info a{
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
  display: flex;
  flex-direction: column;
  height: 330px;
  border-radius: 0;
}
.modal-card-header{
    display: flex;
    justify-content: space-between !important;
        max-width: 450px;
    width: 100%;
    align-items: center;
}
.modal-card-button{
    display: flex;
    flex-direction: column;  
    max-width: 75px;
    width: 100%;
    
}

.modal-card-main{
        display: flex;
    justify-content: space-between !important;
        max-width: 450px;
    width: 100%;
}
.modal-image{
    max-width: 150px;
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.modal-footer{
    display: flex;
    justify-content: center;
   
}

.card-img-top{
     transition: transform 0.3s ease;
}
.card-img-top:hover{
       transform: scale(1.1);
}
.card{
    max-width: 250px;
    width: 100%;
}

.card-title{
    display: flex
}
.card-title-key{
    max-width: 150px;
    width: 100%;
    font-weight: bold;
}
.card-title-value{
    max-width: 200px;
    width: 100%;
}

.card-image{
    display: flex;
    justify-content: center;
    height: 180px;
}

.progress{
    height: 20px;
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
}

.icon{
    font-size: 30px;
   
}

.footer{
    height: 100px;
    background-color: #FF3E3E;
}

.footer-image{
    max-width: 200px;
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding-top: 20px
}

.spinner-border{
position: fixed;
top: 50%;
left: 50%;
text-align: center;
opacity: 0.7;
background-color: #fff;
z-index: 99; 
}

.visually-hidden {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}